body {
    margin: 0px;
    background-color: #EFDFEF;
    font-family: "Salma Pro Medium", sans-serif;
    color: #4F2E70;
}

#about {
    font-size: 55px;
    margin-left: 250px;
    margin-top: -200px;
}
#box1 {
    width: 1024px;
    height: 523px;
    background-color: #8971A1;
    color: #EFDFEF;
    display: flex;
    align-items: center;
    flex-direction: column; 
    position: relative;
}

#starstrip {
    position: relative;
    top: -120px;
    bottom: auto;
    
}
#contactsbox {
    width: 1024px;
    height: 732px;
    background-color: #8971A1;
    color: #EFDFEF;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#p1 {
    font-size: 35px;
    margin-top: -55px;
}

#resume {
    width: 1024px;
    height: 315px;
    background-color: #4F2E70;
    color: #EFDFEF;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 70px;
}

#nav {
    height: 154px;
    width: 1024px;
    background-color: #4F2E70;
    color: #EFDFEF;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: -155px;
}
#star2 {
    position: relative;
    top: 150px;
    bottom: auto;
}

#portfolio {
    width: 1024px;
    height: 154px;
    color: #EFDFEF;
    background-color: #4F2E70;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-direction: row;
    justify-content: space-around;
    font-size: 55px;
    margin-top: -400px;
}

#maincontainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#contacts {
    font-size: 55px;
    margin-right: 400px;
}

#picside {
    width: 451px;
    height: 940px;
    background-color: #8971A1;
    position: relative;
    top: -941px;
    margin-left: -469px;
    
}

ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    list-style: none;
   font-size: 55px;
    align-items: center;
    flex-direction: column;
    flex-direction: row;
    justify-content: space-around;
}

ol {
    list-style: none;
    font-size: 30px;
}

#aboutcontent {
    width: 1024px;
    margin-left: 500px;
    margin-right: 10px;
    width:576px;
    height: 700px;
    font-size: 28px;
    margin-bottom: 500px;
    margin-top: -90px;
}

@font-face {
    font-family: 'Victory';
    src: url('fonts/Victory History Demo.ttf');
}

#content {
    background-color: #8971A1;
    width: 745px;
    height: 904px;
    display: flex;
    align-items: center;
    justify-content: center;
}