body {
    margin: 0px;
    width: 1024px;
    background-color: #EFDFEF;
    border: 1024px;
    

}

#box1 {
    width: 1024px;
    height: 523px;
    background-color: #8971A1;
}

#contactsbox {
    width: 1024px;
    height: 732px;
    background-color: #8971A1;
    border: 1024px;
    margin: 0px;
}